{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "apps/demo/next-env.d.ts",
      "options": { "singleQuote": false }
    }
  ]
}
